[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/cryptopp-cmake"]
	path = external/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
